[package]
name = "worker-rust"
version = "0.1.0"
edition = "2021"

[[bin]]
name = "worker"
path = "src/main.rs"

[dependencies]
anyhow = "1.0.79"
async-stream = "0.3.5"
axum = "0.7.4"
base64 = "0.21.7"
camino = "1.1.6"
clap = { version = "4.4.18", features = ["derive", "env"] }
criterion = { version = "0.5.1", features = ["async_tokio"] }
datafusion = "34.0.0"
flate2 = "1.0.28"
futures = "0.3.30"
glob = "0.3.1"
itertools = "0.12.0"
lazy_static = "1.4.0"
opentelemetry = "0.21.0"
opentelemetry-jaeger = "0.20.0"
prometheus = { version = "0.13.3", features = ["process"] }
prost = "0.12.3"
regex = "1.10.2"
reqwest = { version = "0.11.24", features = ["json"] }
rust-s3 = "0.33.0"
scopeguard = "1.2.0"
sentry = { version = "0.32.2", features = ["tracing"] }
sentry-tower = { version = "0.32.2", features = ["axum", "http"] }
serde = "1.0.195"
serde-rename-rule = "0.2.2"
serde_json = { version = "1.0.111", features = ["preserve_order"] }
sha3 = "0.10.8"
subsquid-messages = { git = "ssh://git@github.com/subsquid/archive-router.git", rev = "f5e0a84", features = ["signatures"] }
subsquid-network-transport = { git = "ssh://git@github.com/subsquid/subsquid-network.git", rev = "d721986", features = ["metrics"] }
thiserror = "1.0.57"
tokio = { version = "1.35.1", features = ["full", "tracing"] }
tokio-stream = "0.1.14"
tokio-util = "0.7.10"
tower-http = { version = "0.5.1", features = ["catch-panic"] }
tracing = { version = "0.1.40", features = ["async-await"] }
tracing-opentelemetry = "0.22.0"
tracing-subscriber = { version = "0.3.18", features = ["env-filter"] }

[profile.release]
debug = true
opt-level = 3

[[bench]]
name = "query"
harness = false
