[package]
name = "subsquid-worker"
license = "AGPL-3.0-or-later"
version = "1.0.0-rc3"
edition = "2021"

[[bin]]
name = "worker"
path = "src/main.rs"

[dependencies]
anyhow = "1.0.79"
async-stream = "0.3.5"
async-trait = "0.1.79"
atomic_enum = { version = "0.3.0", features = ["cas"] }
axum = { version = "0.7.4", features = ["http2"] }
base64 = "0.21.7"
camino = "1.1.6"
clap = { version = "4.4.18", features = ["derive", "env"] }
criterion = { version = "0.5.1", features = ["async_tokio"] }
datafusion = "34.0.0"
dotenv = "0.15.0"
flate2 = "1.0.28"
futures = "0.3.30"
glob = "0.3.1"
itertools = "0.12.0"
lazy_static = "1.4.0"
parking_lot = "0.12.1"
prometheus-client = "0.22.2"
prost = "0.12.3"
regex = "1.10.2"
reqwest = { version = "0.12.4", features = ["json", "stream"] }
scopeguard = "1.2.0"
sentry = { version = "0.32.2", features = ["tracing"] }
sentry-tower = { version = "0.32.2", features = ["axum", "http"] }
serde = "1.0.195"
serde-rename-rule = "0.2.2"
serde_json = { version = "1.0.111", features = ["preserve_order"] }
sha3 = "0.10.8"
thiserror = "1.0.57"
tokio = { version = "1.35.1", features = ["full", "tracing"] }
tokio-rusqlite = "0.5.1"
tokio-stream = { version = "0.1.14", features = ["sync"] }
tokio-util = "0.7.10"
tower-http = { version = "0.5.1", features = ["catch-panic"] }
tracing = { version = "0.1.40", features = ["async-await"] }
tracing-opentelemetry = "0.22.0"
tracing-subscriber = { version = "0.3.18", features = ["env-filter"] }
walkdir = "2.5.0"

contract-client = { git = "https://github.com/subsquid/subsquid-network.git", version = "1.0.0-rc1" }
subsquid-messages = { git = "https://github.com/subsquid/subsquid-network.git", version = "1.0.0-rc3" }
subsquid-network-transport = { git = "https://github.com/subsquid/subsquid-network.git", version = "1.0.0-rc3", features = ["worker", "metrics"] }

[target.'cfg(not(target_env = "msvc"))'.dependencies]
tikv-jemallocator = "0.5"

[profile.release]
debug = true
opt-level = 3

[[bench]]
name = "query"
harness = false
